<!DOCTYPE html>
<html>
<head>
    <!-- Metadata -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Osiris: New Dawn Hub - Crafting</title>
    <!-- Stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
    <link rel="stylesheet" href="../model/css/styles.css">
    <link rel="stylesheet" href="../model/css/buttons.css">
</head>
<body>
  <div class="table-title"><br>
  <h2>Crafting List</h2><br>
  </div>
  <table class="table-fill" id="details_table">
  <thead>
  <tr>
  <th class="text-left">Name</th>
  <th class="text-left">Materials</th>
  </tr>
  </thead>
  <tbody class="table-hover" id="table_body">
  </tbody>
  </table>
</body>

<!-- Scripts -->
<script>window.$ = window.jQuery = require('../model/js/jquery.min.js');</script>
<script src="../controller/crafting.js"></script>
<script>require('../main.js')</script>
</html>
