<!DOCTYPE html>
<html>
<head>
    <!-- Metadata -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Osiris: New Dawn Hub - Crafting</title>
    <!-- Stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
    <link rel="stylesheet" href="../model/css/styles.css">
    <link rel="stylesheet" href="../model/css/buttons.css">
</head>
<body>
  <div class="table-title">
  <h2>Crafting List</h2>
  </div>
  <table class="table-fill" id="details_table">
  <thead>
  <tr>
  <th class="text-left">Name</th>
  <th class="text-left">Materials</th>
  </tr>
  </thead>
  <tbody class="table-hover" id="table_body">
  <tr>
  <td class="text-left">
    <p class="material-row">
    <img class="name-image" src="../model/assets/icons/craftables/Icon_Steel.png" height="60" width="60" />
    <span class="material-text">Steel</span>
    </p>
  </td>
  <td class="text-left">
    <p class="material-row">
    <img class="material-image" src="../model/assets/icons/craftables/Icon_Aluminium.png" height="60" width="60" />
    <span class="material-text">20 x Aluminium</span>
    </p>
    <p class="material-row">
    <img class="material-image" src="../model/assets/icons/craftables/Icon_Lithium.png" height="60" width="60" />
    <span class="material-text">10 x Lithium</span>
    </p>
  </td>
  </tr>
  </tbody>
  </table>
</body>

<!-- Scripts -->
<script>window.$ = window.jQuery = require('../model/js/jquery.min.js');</script>
<script src="../controller/crafting.js"></script>
<script>require('../main.js')</script>
</html>
