<!DOCTYPE html>
<html>
<head>
    <!-- Metadata -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Osiris: New Dawn Hub - Crafting Hub</title>
    <!-- Stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
    <link rel="stylesheet" href="../model/css/styles.css">
    <link rel="stylesheet" href="../model/css/buttons.css">
</head>
<body>
  <ul class="topnav" id="myTopnav">
  <li><a href="index.html">Home</a></li>
  </ul>
  <br>
  <h1>Choose a Crafting Category</h1><br><br>
  <div class="gridcontainer clearfix">
  	<div class="grid_3">
  		<div class="fmcircle_out">
  			<a id="craftables">
  				<div class="fmcircle_border">
  					<div class="fmcircle_in fmcircle_lightblue">
  						<span>Craftables</span><img src="../model/assets/images/craftables.png" alt="" />
  					</div>
  				</div>
  			</a>
  		</div>
  	</div>

  	<div class="grid_3">
  		<div class="fmcircle_out">
  			<a id="structures">
  				<div class="fmcircle_border">
  					<div class="fmcircle_in fmcircle_lightblue">
  						<span>Structures</span><img src="../model/assets/images/structures.png" alt="" />
  					</div>
  				</div>
  			</a>
  		</div>
  	</div>

  	<div class="grid_3">
  		<div class="fmcircle_out">
  			<a id="vehicles">
  				<div class="fmcircle_border">
  					<div class="fmcircle_in fmcircle_lightblue">
  						<span>Vehicles</span><img src="../model/assets/images/vehicles.png" alt="" />
  					</div>
  				</div>
  			</a>
  		</div>
  	</div>
  </div>
<br>

<!-- Scripts -->
<script>window.$ = window.jQuery = require('../model/js/jquery.min.js');</script>
<script src="../controller/crafting_landing.js"></script>
<script>require('../main.js')</script>
</body>
</html>
