<!DOCTYPE html>
<html>
<head>
    <!-- Metadata -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Osiris: New Dawn Hub</title>
    <!-- Stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
    <link rel="stylesheet" href="../model/css/styles.css">
    <link rel="stylesheet" href="../model/css/buttons.css">
</head>
<body>
  <br>
  <h1>Osiris: New Dawn</h1><br><br>
  <h2>Manager</h2>
  <div class="gridcontainer clearfix">
  	<div class="grid_3">
  		<div class="fmcircle_out">
  			<a id="inventory">
  				<div class="fmcircle_border">
  					<div class="fmcircle_in fmcircle_lightblue">
  						<span>Inventory</span><img src="../model/assets/images/backpack.png" alt="" />
  					</div>
  				</div>
  			</a>
  		</div>
  	</div>

  	<div class="grid_3">
  		<div class="fmcircle_out">
  			<a id="map">
  				<div class="fmcircle_border">
  					<div class="fmcircle_in fmcircle_lightblue">
  						<span>Map</span><img src="../model/assets/images/map2.png" alt="" />
  					</div>
  				</div>
  			</a>
  		</div>
  	</div>

  	<div class="grid_3">
  		<div class="fmcircle_out">
  			<a id="building">
  				<div class="fmcircle_border">
  					<div class="fmcircle_in fmcircle_lightblue">
  						<span>Build and Craft</span><img src="../model/assets/images/tools.png" alt="" />
  					</div>
  				</div>
  			</a>
  		</div>
  	</div>
  </div>
<br>

<!-- Scripts -->
<script>window.$ = window.jQuery = require('../model/js/jquery.min.js');</script>
<script src="../controller/index.js"></script>
<script>require('../main.js')</script>
</body>
</html>
