<!DOCTYPE html>
<html>
<head>
    <!-- Metadata -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Osiris: New Dawn Hub - Crafting</title>
    <!-- Stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
    <link rel="stylesheet" href="../model/css/styles.css">
    <link rel="stylesheet" href="../model/css/buttons.css">
</head>
<body>
  <ul class="topnav" id="myTopnav">
  <li><a href="index.html">Home</a></li>
  </ul>
  <div class="table-title"><br>
  <h2>Player Information</h2><br>
  </div>
  <table class="table-fill" id="details_table">
  <thead id="header">
  <tr>
  <th class="text-center">Player</th>
  <th class="text-center">Status</th>
  <th class="text-center">Latitude</th>
  <th class="text-center">Longitude</th>
  </tr>
  </thead>
  <tbody class="table-hover" id="table_body">
  </tbody>
  </table>
  <canvas id="map_canvas" width="700" height="700" style="border:1px solid #fff;"></canvas>
</body>
<!-- Scripts -->
<script>require('../main.js')</script>
<script>window.$ = window.jQuery = require('../model/js/jquery.min.js');</script>
<script src="../controller/serverinfo.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.5.0/firebase.js"></script>
<script>
  // Initialise Firebase
  var config = {
    apiKey: "AIzaSyCcVtmKGwLCxWDtaK-2iLlFdKpC53Dzrog",
    authDomain: "playerlocations-a8b22.firebaseapp.com",
    databaseURL: "https://playerlocations-a8b22.firebaseio.com",
    storageBucket: "playerlocations-a8b22.appspot.com",
    messagingSenderId: "927763555209"
  };
  firebase.initializeApp(config);
  var database = firebase.database();
</script>
